@model StoryWebsite.Models.Story;
<!-- statement below required to use Razor TagHelpers -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Story</h2>

<hr />
<div>
    <div>
        <form asp-controller="story" asp-action="create" method="post">
            <spacer-10></spacer-10>
            <table>
                <tr>
                    <td><label asp-for="title"></label></td>
                    <td><input asp-for="title" /></td>
                </tr>
                <tr>
                    <td><label asp-for="author.userName"></label></td>
                    <td><input asp-for="author.userName" /></td>
                </tr>
                <tr>
                    <td><label asp-for="content"></label></td>
                    <td><input asp-for="content" /></td>
                </tr>
                <tr>
                    <td><label asp-for="url"></label></td>
                    <td><input asp-for="url" /></td>
                </tr>
                <tr>
                    <td><label asp-for="category.categoryName"></label></td>
                    <td><input asp-for="category.categoryName" /></td>
                </tr>
            </table>
            <spacer-25></spacer-25>
            <div class="form-group">
                <input type="submit" value="create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>