@model StoryWebsite.Models.CreateViewModel

@{
    ViewData["Title"] = "Edit Story";
}

<h1>Edit Story</h1>

<hr />
<div>
    
    <div>
        <form asp-controller="story" asp-action="EditStory" enctype="multipart/form-data"  method="post">
            <spacer-10></spacer-10>
            <input type="hidden" asp-for="story.storyID" value="@Model.story.storyID" />
            <table>
                <tr>
                    <td><label asp-for="story.title"></label></td>
                    <td><input asp-for="story.title" /></td>
                </tr>
                <tr>
                    <td><label asp-for="story.content"></label></td>
                    <td><input asp-for="story.content" /></td>
                </tr>
                <tr>
                    <td><label asp-for="coverImage"></label></td>
                    <td><input type="file" asp-for="coverImage" accept=".jpg, .jpeg, .png" /></td>
                </tr>
                <tr>
                    <td><label asp-for="story.category.categoryName"></label></td>
                    <td><input asp-for="story.category.categoryName" /></td>
                </tr>
            </table>
            <spacer-25></spacer-25>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-green" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.story.storyID">Back to Details</a>
</div>

