<!-- statement below required to use Razor TagHelpers -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>


<!--
  _Layout.cshtml - View to supply HTML used on all pages, uses razor syntax
  ver 1.0
  Jim Fawcett, CSE686 - Internet Programming, Spring 2019
-->


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Href("~/CSS/StyleSheet.css")" />
    <link href="https://fonts.googleapis.com/css?family=Margarine" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a asp-controller="story" asp-action="index" class = "logo fade">StoryShare</a>
        <a asp-controller="story" asp-action="about" class = "nav-btn">About</a>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    @*<footer>
        CSE686  Lab #8
    </footer>*@
</body>
</html>
