@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>By Yilin Ren</h2>
<h3>CS graduate in Syracuse University</h3>
<h3>Email: yren20@syr.edu </h3>
