@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<h4>Use another service to log in.</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<spacer-10></spacer-10>
<form id="account" method="post">
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Input.Email" class="form-label col-05"></label>
        </dt>
        <dd>
            <input type="text" asp-for="Input.Email" class="form-control col-1" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <spacer-10></spacer-10>
        </dd>
        <dt>
            <label asp-for="Input.Password" class="form-label col-05"></label>
        </dt>
        <dd>
            <input asp-for="Input.Password" class="form-control col-1" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <spacer-10></spacer-10>
        </dd>
        <dt>

        </dt>
        <dd style="float:left;">
            <button type="submit" class="btn btn-green ">    Log in    </button>
        </dd>
    </dl>
</form>
<div class="description-block">
    <p>
        Admin Account: <strong>admin@syr.edu</strong>
    </p>
    <p>
        Password:      <strong>Admin@123</strong>
    </p>
    <spacer-25></spacer-25>
    <p>
        User Account: <strong>yren20@syr.edu</strong>
    </p>
    <p>
        Password:      <strong>Admin@123</strong>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
