<!-- statement below required to use Razor TagHelpers -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>


<!--
  _Layout.cshtml - View to supply HTML used on all pages, uses razor syntax
  ver 1.0
  Jim Fawcett, CSE686 - Internet Programming, Spring 2019
-->


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Href("~/CSS/StyleSheet.css")" />
    <link href="https://fonts.googleapis.com/css?family=Margarine|Roboto" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="topnav">
            <div class="container topnav-flex">
                <div class="flex-grow-1">
                    <a asp-controller="story" asp-action="index" class="logo">StoryShare</a>
                    <a asp-controller="story" asp-action="create" class="nav-btn">Create</a>
                    <a asp-controller="story" asp-action="about" class="nav-btn">About</a>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>
        <div class="main container">
            @RenderBody()
        </div>
        <footer>
            copyright © 2019 - Yilin Ren
        </footer>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
