@model MvcSkeleton.Models.Lab;
<!-- statement below required to use Razor TagHelpers -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Labs</h4>
<hr />
<div>
    <div>
        <form asp-controller="lab" asp-action="Edit" method="post">
            <spacer-10></spacer-10>
            <table>
                <tr>
                    <td><label asp-for="id"></label></td>
                    <td><input asp-for="id"/></td>
                </tr>
                <tr>
                    <td><label asp-for="number"></label></td>
                    <td><input asp-for="number" /></td>
                </tr>
                <tr>
                    <td><label asp-for="topic"></label></td>
                    <td><input asp-for="topic" /></td>
                </tr>
                <tr>
                    <td><label asp-for="target"></label></td>
                    <td><input asp-for="target" /></td>
                </tr>
                <tr>
                    <td><label asp-for="due"></label></td>
                    <td><input asp-for="due" /></td>
                </tr>
            </table>
            <spacer-25></spacer-25>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>