@model List<MvcSkeleton.Models.Lab>
<!-- statement below required to use Razor TagHelpers -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Labs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Labs Contents</h1>
<ul>
@foreach (var lab in Model)
{
    <li>
        <a asp-action="details" asp-route-id="@lab.id">@lab.topic</a>
        <br />
        <spacer-10></spacer-10>
    </li>
}

</ul>
