/*
 ------------------------------------------------------------
  StyleSheet.css - basic styles for Asp.net core MVC application
  ver 1.0
  Yilin Ren, CSE686 - Internet Programming, Spring 2019
  Based on Jim Fawcett
 ------------------------------------------------------------
*/

table, tr, td {
    border-bottom: 1px solid #0f0a3c;
    border-collapse: collapse;
}
td { padding: 0.5em 1.5em; }

topic-block {
  display: block;
  border: 2px solid maroon;
  padding: 0.5em 1.25em 1.0em 1.25em;
  box-shadow: #dddddd 10px 10px 10px;
}

.indent {
  margin-left: 25px; margin-right: 25px;
}

.tight {
  display: table-cell;
}
spacer-5 {
  display: block;
  height: 10px;
}
spacer-10 {
  display: block;
  height: 10px;
}
spacer-15 {
  display: block;
  height: 10px;
}
spacer-25 {
  display: block;
  height: 10px;
}

.topnav {
    position: fixed;
    background-color: #1eafed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.nav-btn, .logo {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.logo {
    padding: 9px 10px 9px 20px;
    font-family: 'Margarine', cursive;
    font-size: 22px;
    color: #f1f1f1;
}

.logo:hover {
    color: white;
}


.nav-btn:hover {
        background-color: #ffcd60;
        color: black;
        cursor:pointer;
}

.nav-btn.active {
        background-color: #4CAF50;
        color: white;
    }

footer {
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: Consolas;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #1eafed;
    color: white;
    text-align: center;
    padding: 0.25em;
    height: 2em;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

.main {
    margin: 50px 0 0 0;
    font-family: "Helvetica Neue", sans-serif;
}

dt {
    float: left;
    width: 15%;
    text-align: left;
    padding: 0.25em;
    clear: left;
    font-weight: bold;
}

dd {
    float: left;
    width: 75%;
    padding: .25em 0;
    font-family: "Helvetica Neue", sans-serif;
}

dl:after {
    content: "";
    display: table;
    clear: both;
}

input {
    height: 20px;
    width: 400px;
    font-size: 15px;
    
    border: 1px solid #999;
    border-radius: 1px;
    -webkit-appearance: none;
}

input[type=submit]{
    height: 30px;
    width: 100px;
    margin-left: 400px;
    font-weight: bolder;
    cursor: pointer;
}

.gallery {
    margin: 10px 20px 10px 20px;
    border: 1px solid #f1f1f1;
    float: left;
    width: 280px;
    height: 320px;
    cursor: pointer;
    background-color: white;
    /*box-shadow: 0px 1px 3px rgba(0,0,0,0);*/
}

.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}

.gallery img {
    width: 280px;
    height: 240px;
    object-fit: cover;

}

.gallery-title {
    line-height: 1.4;
    font-size: 1.125em;
    font-weight: bold;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery-desc {
    font-style: italic;
    position: relative;
    font-size: 0.875em;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    line-height: 1.4em; /* fallback */
    max-height: 2.8em; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.fade {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.figure-caption {
    padding: 0 10px 5px 10px;
    color: #003e54;
    font-family: "ClearSans", "HelveticaNeue-Bold", "Helvetica Neue Bold", sans-serif;
    text-align: left;

}

.gallery-ctg {
    font-family: "ClearSans", "HelveticaNeue-Bold", "Helvetica Neue Bold", sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-left: 20px;
    color: #929aab;

}

.img-disp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 400px;
}

.detail-info {
    font-family: "ClearSans", "HelveticaNeue-Bold", "Helvetica Neue Bold", sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.detail-title {
    color: #003e54;
    font-size: 1.2em;
    margin: 30px 0 0 0;
}